body{
    margin: 0;
    padding: 0;
}
.main-content{
    padding: 10px;
    min-height: calc(100vh - 41px - 41px - 20px);
    height: auto;
}
.rightnav{
    background-color: cadetblue;
    padding: 10px;
}
.rightnav ul li{
    margin-bottom: 10px;
}
.rightnav ul li a{
    color: white;
}